@import './site.scss';

$max-wrapper-width: $max-site-content-width;
$header-height: 93px;

.site-header {
  display: flex;
  justify-content: center;
  height: $header-height;

  background: linear-gradient(to left, #3f87a6, #ebf8e1);  
  color: white;
  // border-bottom: 1px solid gray;
  box-shadow: 0 1px 4px rgba(0,0,0,.22);
  width: 100%;
  .wrapper {    
    max-width: $max-wrapper-width;

    flex: 1 1 auto;
    display: flex;
    align-items: center;

    // border: 3px solid powderblue;
    padding: 0px 10px;

    /* header link tag */
    a {
      margin: 0 5px;
      font-size: 1.2rem;
    }
  }
}